language: python
python:
  - "2.5"
  - "2.6"
  - "2.7"
  - "3.2"
  # does not have headers provided, please ask https://launchpad.net/~pypy/+archive/ppa
  # maintainers to fix their pypy-dev package.
  - "pypy"
# command to install dependencies
install:
  - pip install . --use-mirrors
# command to run tests
script: python src/mimerender.py
